body,input,p,span{
	margin: 0;
	padding: 0;
}
body{
	background-color: #F8F8F8;
}
a{
	text-decoration: none;

}
img,a{
	display: block;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.top{
	width: 100%;
	height: auto;
	margin-top: 20px;	
}
.top .box{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.top .dm{
	width: 80px;
	height: auto;
	font-size: 40px;
	color: #74B51C;
	float: left;
	font-weight: 600;
	padding-right: 20px;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.top .sh{
	font-size: 16px;
	color: #555555;
	float: left;
	margin-left: 20px;
	line-height: 55px;
}
.top .tel{
	width: 200px;
	height: auto;
	float: right;
	margin-top: 7px;
}
.top .tel img{
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}
.top .tel .lx{
	margin-right: 50px;
}
.top .tel .ph{
	color: #74B51C;
	font-weight: 700;
}
.dh{
	width: auto;
	height: 46px;
	background-color: #8EC63F;
}
.dh ul{
	width: 1000px;
	height: 46px;
	margin: 0 auto;
}
.dh ul li{
	float: left;
	padding: 0 40px;
	line-height: 46px;
}
.dh ul li a{
	color: #fff;
}
.dh ul li:hover{
	background-color: #75B41C;
}
.banner{
	width: 100%;
	height: 359px;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 70px;
}
.banner img{
	width: 100%;
	height: 359px;	
}

.banner a{
	width: 100%;
	height: 359px;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.5s;
	opacity: 0;
}
.banner .banners-active{
	opacity: 1;
}
.banner ul{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%,0);
	z-index: 10;	
}

.banner ul li{
	width: 13px;
	height: 13px;
	margin-left: 8px;
	background-color: #DDDDDD;
	float: left;
}
.banner ul .dian-1{
	background-color: #555;
}
.banner .iconfont{
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 40px;
	color: #77726E;
	line-height: 50px;
	text-align: center;
	display: none;
}
.banner:hover .iconfont{
	display: block;
}
.banner .yi{
	position: absolute;
	left: 200px;
	top: 150px;
	z-index: 10;
}
.banner .er{
	position: absolute;
	right: 200px;
	top: 150px;
	z-index: 10;
}
.banner .iconfont:hover{
	background-color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}
.fltop{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 70px;
}
.fltop .z{
	width: 510px;
	height: 1px;
	background-color: #DDDDDD;
	float: left;
	margin-top: 22px;
}
.fltop{
	font-size: 34px;
	text-align: center;
}
.fltop .y{
	width: 510px;
	height: 1px;
	background-color: #DDDDDD;
	float: right;
	margin-top: 22px;
}
.bbox{
	width: 1200px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.bbox .flbox{
	width: 372px;
	height: 148px;
	background-color: #fff;
	padding: 50px 0;
	float: left;
	margin-right: 42px;
	margin-bottom: 42px;
	transition: all 0.5s;
}
.bbox .flbox:hover{
	box-shadow: 0 3px 10px 3px rgba(0,0,0,0.1);
	transform: translateY(-8px);
}
.bbox .box2{
	margin-right: 0;
}
.bbox .flbox span{
	display: block;
	text-align: center;
	margin: 0 auto;
}
.bbox .flbox .yi{
	font-size: 40px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #96C52B;
	line-height: 100px;
	margin-bottom: 20px;
	color: #000;

}
.bbox .flbox .er{
	font-size: 24px;
	color: #000;
}
.gylm{
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 50px 0;
}
.gylm img{
	width: 290px;
	float: left;
	margin: 0 100px;
}
.gylm .lm{
	width: 1200px;
	height: 217px;
	margin: 0 auto;
}
.gylm .lm p{
	float: left;
	font-size: 18px;
	display: block;
	-webkit-margin-before: 5px;
    -webkit-margin-after: 5px;
}
.gylm .lm .yi{
	margin-top: 30px;
}
.gongyi{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	padding-top: 100px;
	overflow: hidden;
}
.gongyi .one{
	width: 550px;
	height: 128px;
	float: left;
	margin-bottom: 70px;
	margin-right: 50px;
	margin-left: 15px;
}
.gongyi .one img{
	float: left;
}
.gongyi .one .js{
	float: right;
}
.gongyi .one .js .tit{
	font-size: 22px;
	margin-bottom: 10px;
	color: #444444
}
.gongyi .one .js .nei{
	font-size: 16px;
	width: 412px;
	height: 85px;
	line-height: 26px;
	color: #444444
}
.gongyi .two{
	margin-right: 0;
}
.qj{
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 70px 0 110px;
}
.qj .zs{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.qj .zs .one{
	width: 269px;
	height: 350px;
	margin: 0px 14px;
	border: 1px solid #eee;
	float: left;

}
.qj .zs .one img{
	width: 269px;
}
.qj .zs .one p{
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	color: #333;
}
.qj .gd{
	width: 64px;
	height: 24px;
	border: 1px solid #8ec63f;
	padding: 6px 40px;
	font-size: 16px;
	margin: 0 auto;
	margin-top: 40px;
}
.qj .gd a{
	color: #8ec63f;
}
.footer{
	width: 100%;
	height: auto;
	padding: 40px 0 30px;
	background-color: #22242A;
}	
.footer .neibu{
	width: 1200px;
	height: 300px;
	margin: 0 auto;
}
.footer .neibu .yi{
	width: 300px;
	height: 230px;
	float: left;
}
.footer .neibu .yi span{
	font-size: 22px;
	color: #EEEEEE;
}
.footer .neibu .yi ul{
	margin-top: 20px;
}
.footer .neibu .yi ul li{
	color: #919292;
	margin-bottom: 10px;
}
.footer .neibu .yi ul li a{
	font-size: 16px;
	color: #919292;
}
.footer .neibu .yi img{
	width: 120px;
	transform: translate(70px, 40px)
}
.footer .neibu .yi p{
	margin-top: 50px;
	color: #919292;
	margin-left:75px;

}
.footer .end{
	width: 1200px;
	height: 18px;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
}
